.flat {
  flex-basis: calc(50% - 20px);
  margin: 5px;
  cursor: pointer;
  border: 1px solid;
  background-color: rgba(60, 60, 60,0.3);
  
}

.flat:hover {
  opacity: 0.9;
}

.flat-picture {
  height: 180px;
  background-size: cover;
}

.flat-title {
  margin-top: 10px;
  color: rgb(71, 71, 71);
}
